*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 1000vh;
    width: 100%;
    background-image:url(background.png);
    background-position: center;
    background-size: cover;
    position:relative;
}
